<div id="navigation">
    <a href="/videos/create">
        <div class="create-button">
            <p>Create a new video</p>
        </div>
    </a>
</div>
<div id="videos-container">
    {{#each videos as |video|}}
    <div class="video-card">
        <div class="video-title">
            <a href="/videos/{{video._id}}">{{video.title}}</a>
        </div>
        <div>
            <iframe class="video-player" src="{{video.url}}" name="{{video.title}}" frameborder="0"></iframe>
        </div>
    </div>
    {{/each}}
</div>