<div id="videos-container">
    <div class="video-card" id="{{video._id}}">
        <div class="video-title">
            {{video.title}}
        </div>
        <iframe class="video-player" src="{{video.url}}" frameborder="0"></iframe>
        <div class="video-description">
            {{video.description}}
        </div>
    </div>
</div>