<div id="videos-container">
    <div class="video-card">
        <div class="video-title">
            {{video.title}}
        </div>
        <div class="video-description">
            {{video.description}}
        </div>
    </div>
</div>